[submodule "vendor/plugins/awesome_nested_set"]
	path = vendor/plugins/awesome_nested_set
	url = git://github.com/gzigzigzeo/awesome_nested_set.git
[submodule "vendor/plugins/action_link"]
	path = vendor/plugins/action_link
	url = git://github.com/gzigzigzeo/action_link.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/js_named_routes"]
	path = vendor/plugins/js_named_routes
	url = git://github.com/galori/js_named_routes.git
[submodule "vendor/plugins/resource_controller"]
	path = vendor/plugins/resource_controller
	url = git://github.com/giraffesoft/resource_controller.git
